// ---------
// ---------
// CSS RESET
// ---------
// ---------

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, ol { list-style: none; }

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
   text-decoration: none;
   color: var(--textColor);
   -webkit-tap-highlight-color: transparent;
}

i {
   cursor: pointer;
}

img, picture, svg {
   max-width: 100%;
   display: block;
   user-select: none;
   -webkit-user-drag: none;
}

h1, h2, h3, h4, h5, h6, p,
input, button, textarea, select {
   font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within { scroll-behavior: auto; }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* { -webkit-tap-highlight-color: transparent; }
input, textarea, button, select, a { -webkit-tap-highlight-color: transparent; }
a:focus, a:visited, a:active { -webkit-tap-highlight-color: transparent; }

// ---------
// ---------
// CSS SETUP
// ---------
// ---------

html {
   scroll-behavior: smooth;
   scroll-padding: 5rem;
   background-color: var(--bg-color);
   color: var(--text-color);
   font-family: "Poppins", sans-serif;
   overflow-x: hidden;
   height: 100%;
}

body {
   position: relative;
   top: -4rem;
}

:root {
   --bg-color: #1E1E1E;
   --bg-color-gradient: linear-gradient(#535353, var(--bg-color));
   --bg-color-gradient-flipped: linear-gradient(var(--bg-color), #535353);
   --card-color-gradient: linear-gradient(#303030, #222222);
   --nav-color: var(--bg-color);
   --color-primary: #4690FF;
   --color-secondary: #1371ff;
   // Hypest Agency color palette:
   /*--color-primary: #29E8A0;
   --color-secondary: #00bd74;*/
   --selection-color: var(--color-secondary);
   --title-color: ;
   --text-color: white;

   // Font-sizes
   --font-size-h1: 1.75rem;
   --font-size-h2: 1.75rem;
   --font-size-h3: .9rem;
   --font-size-h4: .9rem;
   --font-size-p: .9rem;

   // Navigation
   --header-duration: 1s;
   --nav-duration: calc(var(--header-duration) / 4);
   --nav-ease: cubic-bezier(0.215, 0.61, 0.355, 1);
   --space: .75rem;
   --font-primary: 'Poppins', sans-serif;
   --font-heading: 'Poppins', serif;
   --nav-font-size: 10vmin;
   --nav-logo-mobile-padding: 1.5rem;

   // Nav fix
   --horizontal-margin: ;
}

h1 { font-size: var(--font-size-h1); font-weight: 500};
h2 { font-size: var(--font-size-h2); font-weight: 500};
h3 { font-size: var(--font-size-h3); font-weight: 500};
h4 { font-size: var(--font-size-h4); font-weight: 500};
p { font-size: var(--font-size-p); font-weight: 300};

// ----------
// Scroll Bar
// ---------- 

html::-webkit-scrollbar {
   width: .85rem;
   background-color: rgb(30, 30, 30);
}

html::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
   background-color: var(--color-primary);
}

html {
   scrollbar-color: var(--color-primary) rgb(30, 30, 30);
}

// For the textarea
textarea::-webkit-scrollbar {
   background-color: unset;
}

textarea::-webkit-scrollbar-thumb {
   border-radius: 2rem;
}

textarea::-webkit-scrollbar-track {
   border-radius: 2rem;
   background-color: rgb(30,30,30);
}

// ---------
// Selection
// ---------

::-moz-selection {
   background: var(--selection-color);
}
 
 ::selection {
   background: var(--selection-color);
}

// ---------------               ---------------------------------
// ---------------               ---------------------------------
// UTILITY CLASSES               --------- Change These! ---------
// ---------------               ---------------------------------
// ---------------               ---------------------------------

// Navigation
header.nav-desktop {
   margin-inline: auto;
   padding-block: 1rem;
   padding-inline: calc((100vw - 1360px)/2);

   // Bug Fixes
   background-color: #535353;
   margin-bottom: 1rem;
}

// Section container's
.container {
   margin-inline: auto;
   margin-block: 4rem;
   padding-inline: var(--nav-logo-mobile-padding);
   max-width: 1400px;
}

// Buttons
.button {
   padding: .4rem 1.5rem;
   border: 0;
   border-radius: 2rem;
   cursor: pointer;
}

.primary-button {
   font-size: var(--font-size-h4);
   background-color: var(--color-primary);
   transition: background-color .2s;

   &:hover {
      background-color: var(--color-secondary);
   }

   // Underline remover
   &::after {
      opacity: 0;
   }
}

.secondary-button {
   font-size: var(--font-size-h3);

   display: flex;
   align-items: center;
   gap: .75rem;

   img {
      width: 1.5rem;
   }

   transition: gap .5s;
   &:hover {
      gap: 1rem;
   }
}

// Gradient backgrounds
.gradient-bg {
   background: var(--bg-color-gradient);
}

.gradient-bg-flipped {
   background: var(--bg-color-gradient-flipped);
}

// Scroll Reveal Classes
.reveal {
   position: relative;
   transform: translateY(5rem);
   opacity: 0;
   transition: opacity 2s ease, transform 2s ease;
}

.reveal.active{
   transform: translateY(0);
   opacity: 1;
}

section.hero {
   opacity: 0;
   animation: reveal 2s ease;
}

@keyframes reveal {
   from {
      transform: translateY(-5rem);
      opacity: 0;
   } to {
      transform: translateY(0);
      opacity: 1;
   }
}

// ----------
// ----------
// NAVIGATION
// ----------
// ----------

.nav-logo-mobile {
   position: absolute;
   top: calc(1.2rem - 0.4vw);
   left: var(--nav-logo-mobile-padding);

   font-size: calc(1.75rem + 1vw);
   font-weight: bold;
   
   span {
      color: var(--color-primary);
   }
}

// .nav-logo-mobile's open-phase class
#open-phased {
   color: var(--text-color);
   cursor: pointer;
   left: 0;
   padding: var(--space) calc(var(--space) * 2) calc(var(--space) + 1vmin / 2);
   padding-top: 0;
}

header.nav-mobile {
   .main-navigation-toggle {
      position: fixed;
      height: 1px; 
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
      white-space: nowrap;
      
      + label {
         position: fixed;
         top: calc(var(--space) * 1.5);
         right: calc(var(--space) * 2);
         cursor: pointer;
         z-index: 100000;
         
         background-color: white;
         border-radius: 50%;
         padding: .5rem;

         // Little shadow if needed
         /*box-shadow: 0 0 3px 0 rgba(0,0,0,0.20);
         -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.20);
         -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.20);*/
      }
   }

   .icon--menu-toggle {
      --size: calc(1rem + 4vmin);
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--size);
      height: var(--size);
      stroke-width: 6;
   }
    
   .icon-group {
      transform: translateX(0);
      transition: transform var(--nav-duration) var(--nav-ease);
   }
    
   .icon--menu {
      stroke: var(--color-primary);
   }
    
   .icon--close {
      stroke: var(--color-primary);
      transform: translateX(-100%);
   }
    
   .main-navigation {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      transition: transform var(--nav-duration);
      z-index: 1000;
      
      &:after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: var(--color-primary);
         transform-origin: 0 50%;
         z-index: -1;
      }

      ul {
         font-size: var(--nav-font-size);
         font-family: var(--font-heading);
         width: 100%;
      }
      
      li {
         --border-size: 1vmin;
         display: flex;
         align-items: center;
         position: relative;
         overflow: hidden;

         /*// Line
         &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: var(--border-size);
            background-color: var(--color-secondary);
            transform-origin: 0 50%;
            transform: translateX(-100%) skew(15deg);
         }*/

         a {
            display: inline-block;
            width: 100%;
            max-width: 1600px;
            margin: 0 auto;
            //color: var(--color-secondary);
            line-height: 1;
            text-decoration: none;
            user-select: none;
            padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
            transform: translateY(100%);
   
            transition: .2s;
   
            &:hover {
               padding-inline: 2rem;
            }
         }
      }
   }
    
   .main-navigation-toggle:checked {
      ~ label .icon--menu-toggle {    
         .icon-group {
            transform: translateX(100%);
         }
      }
      
      ~ .main-navigation {
         transition-duration: 0s;
         transform: translateX(0);
        
         &:after {
            animation: nav-bg var(--nav-duration) var(--nav-ease) forwards;
         }
        
         /*// Line animation
         li:after {
            animation: nav-line var(--header-duration) var(--nav-ease) forwards;
         }*/
        
         a {
            animation: link-appear calc(var(--header-duration) * 1.5) var(--nav-ease) forwards;
         }
        
         // Change x in "through x" according to the links' count   
         @for $i from 1 through 4 {
            li:nth-child(#{$i}) {
               &:after, a {
                  animation-delay: calc((var(--header-duration) / 2) * #{$i} * 0.125);
               }
            }
         }
      }
   }
   
   // For the lines
   @keyframes nav-line {
      0%   { transform: scaleX(0); transform-origin: 0 50%; }
      35%  { transform: scaleX(1.001); transform-origin: 0 50%; }
      65%  { transform: scaleX(1.001); transform-origin: 100% 50%; }
      100% { transform: scaleX(0); transform-origin: 100% 50%; }
   }
   
   @keyframes nav-bg {
      from { transform: translateX(-100%) skewX(-15deg) }
      to { transform: translateX(0) }
   }

   // Default: 0%, 25% --> 50%, 100% 
   @keyframes link-appear {
      0%        { transform: translateX(-100%); }
      30%, 100% { transform: translateX(0); }
   }
}

header.nav-desktop {
   display: none;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;

   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   z-index: 1000;

   backdrop-filter: blur(.5rem);
   background-color: transparent;

   .nav-logo {
      font-size: 2rem;
      font-weight: bold;

      span {
         color: var(--color-primary);
      }
   }

   ul {
      display: flex;
      align-items: center;
      gap: 2rem;

      li {
         font-size: 1.1rem;
         
         a {
            position: relative;

            &:after {
               content: '';
               position: absolute;

               bottom: 0;
               left: 0;
               right: 0;
               margin: auto;
               width: 0%;

               transition: .2s;
               background: var(--color-primary);
               height: 2px;
            }

            &:hover:after {
               width: 100%;
             }
         }
      }
   }
}

// ------------
// ------------
// Hero Section
// ------------
// ------------

section.hero {
   padding-top: 8rem;
   padding-bottom: 1rem;
   margin-bottom: 7.5rem;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   
   .hero-left {
      .hero-header {
         line-height: 2.5rem;
         position: relative;
         z-index: 0;

         .hero-header--underline {
            position: relative;

            &::before {
               content: "";
               position: absolute;
               width: 8.25rem;
               height: 0.5rem;
               background-color: var(--color-primary);
               top: 1.6rem;
               z-index: -1;
            }
         }
         
         .hero-header--dot {
            color: var(--color-primary);
         }
      }

      .hero-desc {
         margin-top: 1.5rem;
         margin-bottom: 2.5rem;
      }

      .hero-buttons {
         display: flex;
         flex-direction: row;
         gap: 1rem;
      }
   }

   .hero-img {
      width: 20rem;
      height: auto;
   }

   position: relative;  // For the scroll down
   .scroll-down {
      position: absolute;
      display: none;
   }
}

// ----------------
// ----------------
// Services Section
// ----------------
// ----------------

section.services {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 10rem;

   .services-header {
      text-align: center;
      line-height: 1.2;

      span { color: var(--color-primary); }
   }

   .services-cards {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 2rem;
      margin-top: 4.5rem;

      .services-card {
         background: var(--card-color-gradient);
         padding: 2rem;
         width: 20rem;
         border-radius: 2rem;

         display: flex;
         align-items: center;
         flex-direction: column;
         gap: 2rem;
         text-align: center;
       
         .services-card--desc {
            width: 18rem;
         }

         .services-card--icon {
            transition: transform .4s;

            &:hover {
               transform: translateY(-.25rem);
            }
         }
      }

      .services-bgtext {
         display: none;

         rotate: 90deg;
         opacity: 0.2;
         font-weight: bold;
         user-select: none;
         -moz-user-select: none;

         span { color: var(--color-primary); }
      }
   }
}

// -----------------
// -----------------
// Portfolio Section
// -----------------
// -----------------

section.portfolio {
   margin-bottom: 10rem;

   .portfolio-header {
      text-align: center;
      margin-bottom: 5rem;

      span { color: var(--color-primary); }
   }

   .portfolio-websites--container {
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      display: flex;
      gap: 3rem;

      &::before, &::after {
         content: "";
         position: absolute;
         z-index: 1;
         top: 0;
         width: 3rem;
         height: 100%;
      }

      &::before {
         left: 0;
         background: linear-gradient(to left, transparent, var(--bg-color));
       }
       
      &::after {
         right: 0;
         background: linear-gradient(to right, transparent, var(--bg-color));
      }

      &:hover {
         .portfolio-websites {
            animation-play-state: paused;
         }
      }

      .portfolio-websites {
         display: flex;
         align-items: center;
         gap: 3rem;
         animation: 30s slide infinite linear;
      
         .portfolio-website {
            img {
               min-width: 10rem;
            }
         }
      }
   }

   @keyframes slide {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-106%);
      }
   }

   .portfolio-button {
      margin-top: 5rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
   }
}

// ---------------
// ---------------
// Contact Section
// ---------------
// ---------------

section.contact {
   padding-top: 7.5rem;
   padding-bottom: 14rem;
   margin-bottom: -6rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .contact-header {
      margin-bottom: 5rem;
      span { color: var(--color-primary); }
   }

   .contact-form {
      background-color: #222222;
      padding: 2rem;
      border-radius: 2rem;

      display: grid;
      /*grid-template: 
         "left right";*/
      place-items: center;
      gap: 2rem;

      .contact-form--left,
      .contact-form--right {
         display: flex;
         flex-direction: column;
         gap: 2rem;
         width: 100%;
      }

      .contact-form--name label,
      .contact-form--email label,
      .contact-form--message label {
         font-size: var(--font-size-h4);
      }

      .contact-form--name input,
      .contact-form--email input,
      .contact-form--message textarea {
         margin-top: .75rem;
         padding: .75rem 1.25rem;
         width: 100%;

         background-color: #535353;
         color: white;

         font-size: var(--font-size-p);
         border-radius: 2rem;
         border: 0;
         outline: none;
      }

      .contact-form--message textarea {
         width: 100%;
         min-height: 3rem;
         resize: vertical;
      }

      lottie-player {
         display: none;
      }
   }
}

// --------------
// --------------
// Footer Section
// --------------
// --------------

footer {
   background-color: var(--color-primary);
   margin-block: 0;
   padding-top: 5rem;
   padding-bottom: 1rem;

   clip-path: polygon(100% 100%, 0% 100% , 0.00% 18.00%, 2.00% 17.91%, 4.00% 17.63%, 6.00% 17.19%, 8.00% 16.61%, 10.00% 15.93%, 12.00% 15.19%, 14.00% 14.44%, 16.00% 13.72%, 18.00% 13.09%, 20.00% 12.57%, 22.00% 12.21%, 24.00% 12.02%, 26.00% 12.02%, 28.00% 12.21%, 30.00% 12.57%, 32.00% 13.09%, 34.00% 13.72%, 36.00% 14.44%, 38.00% 15.19%, 40.00% 15.93%, 42.00% 16.61%, 44.00% 17.19%, 46.00% 17.63%, 48.00% 17.91%, 50.00% 18.00%, 52.00% 17.91%, 54.00% 17.63%, 56.00% 17.19%, 58.00% 16.61%, 60.00% 15.93%, 62.00% 15.19%, 64.00% 14.44%, 66.00% 13.72%, 68.00% 13.09%, 70.00% 12.57%, 72.00% 12.21%, 74.00% 12.02%, 76.00% 12.02%, 78.00% 12.21%, 80.00% 12.57%, 82.00% 13.09%, 84.00% 13.72%, 86.00% 14.44%, 88.00% 15.19%, 90.00% 15.93%, 92.00% 16.61%, 94.00% 17.19%, 96.00% 17.63%, 98.00% 17.91%, 100.00% 18.00%);

   .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   
      .footer-icons {
         display: flex;
         align-items: center;
         gap: 1rem;
         margin-bottom: 2rem;

         a img {
            height: 2rem;
            width: 2rem;
         }

         .footer-icon--small img {
            height: 2.5rem;
            width: 2.5rem;
         }
      }

      .footer-desc {
         text-align: center;
         font-weight: 300;
      }
   }
}

// -------------
// -------------
// Media Queries
// -------------
// -------------

@media screen and (max-width: 329px) { // Galaxy Fold
   :root {
      --font-size-h1: 1.3rem;
      --font-size-h2: 1.3rem;
      --font-size-h3: .85rem;
      --font-size-h4: .85rem;
      --font-size-p: .7rem;
   }

   section.hero {
      .hero-left {
         .hero-header {
            line-height: 1.75rem;

            .hero-header--underline {
               &::before {
                  width: 6.1rem;
                  top: 1.15rem;
               }
            }
         }

         .hero-buttons {
            flex-direction: column;
            width: fit-content;
         }
      }

      .hero-img {
         width: 13rem;
      }
   }

   section.services {
      .services-cards {
         .services-card {
            width: 15rem;
            text-align: center;

            .services-card--desc {
               text-align: center;
               width: 12rem;
            }
         }
      }
   }

   section.portfolio {
      .portfolio-websites--container {
         &::before {
            transform: translateX(-1px);   
         }

         &::after {
            transform: translateX(1px);
         }
      }
   }

   section.contact {
      .contact-form {
         padding: 1.1rem;
         padding-block: 1.5rem;
         gap: 1rem;
      }
   }
}

@media screen and (min-width: 329px) and (max-width: 357px) {
   :root {
      --font-size-h1: 1.5rem;
      --font-size-h2: 1.5rem;
      --font-size-h3: 1rem;
      --font-size-h4: 1rem;
      --font-size-p: .8rem;

      --nav-logo-mobile-padding: 1rem;
   }

   section.hero {
      .hero-left {
         .hero-header {
            line-height: 2rem;

            .hero-header--underline {
               &::before {
                  width: 7rem;
                  top: 1.4rem;
               }
            }
         }
   
         .hero-desc {
            margin-top: 1.25rem;
            margin-bottom: 2rem;
         }
      }
   
      .hero-img {
         width: 15rem;
      }
   }

   .primary-button,
   .secondary-button { font-size: .9rem; }

   .secondary-button {
      gap: .5rem;
      &:hover { gap: .75rem; }
      img { width: 1rem; }
   }

   section.services {
      .services-cards {
         .services-card {
            gap: 1.5rem;
            .services-card--icon {
               width: 4.5rem;
            }
         }
      }
   }

   section.portfolio {
      .portfolio-websites--container {
         &::before {
            transform: translateX(-1px);   
         }

         &::after {
            transform: translateX(1px);
         }
          
         .portfolio-websites {
            .portfolio-website {
               img {
                  min-width: 9rem;
               }
            }
         }
      }
   }
   
   section.contact {
      .contact-form {
         padding: 1.5rem;
      }
   }
}

@media screen and (min-width: 450px) {
   :root {
      --font-size-h1: 2rem;
      --font-size-h2: 2rem;
      --font-size-h3: 1.125rem;
      --font-size-h4: 1.125rem;
      --font-size-p: 1rem;
   }

   section.hero {
      .hero-left {
         .hero-header {
            .hero-header--underline {
               &::before {
                  width: 9.25rem;
                  height: 0.5rem;
                  top: 1.85rem;
               }
            }
         }
      }
   }
}

@media screen and (min-width: 650px) {
   :root {
      --font-size-h1: 2.25rem;
      --font-size-h2: 2rem;
      --font-size-h3: 1.5rem;
      --font-size-h4: 1.25rem;
      --font-size-p: 1.1rem;
   }

   section.hero {
      .hero-left {
         .hero-header {
            .hero-header--underline::before {
               width: 10.5rem;
               top: 2.1rem;
            }
         }

         .hero-buttons {
            .primary-button, .secondary-button {
               font-size: var(--font-size-h4)
            }
         }
      }
   }

   section.services {
      .services-cards {
         .services-card {
            width: 25rem;
         }
      }
   }
}

@media screen and (min-width: 850px) { // Desktop
   header.nav-mobile {
      display: none;
   }
   
   .nav-logo-mobile { display: none; }

   header.nav-desktop {
      display: flex; 
   }

   body {
      position: unset;
      top: unset;
   }

   // Changes in each section from mobile / tablet to desktop view

   section.hero {
      margin-bottom: 15rem;
      margin-top: 0;
      padding-top: 10rem;
      flex-direction: row;
      gap: 2rem;
      
      .hero-left {
         .hero-header {
            .hero-header--underline {
               &::before {
                  width: 10.25rem;
                  height: 0.5rem;
                  top: 2.1rem;
               }
            }
         }
   
         .hero-buttons {
            gap: 2rem;
         }
      }
   
      .hero-img {
         width: 60rem;
      }
   
      .scroll-down {
         display: unset;
         top: 110%;
      }
   }

   section.services {
      .services-cards {
         grid-template-columns: 1fr 1fr;
         column-gap: 7rem;
   
         .services-card {
            width: 20rem;
         }
         
         position: relative;
         .services-bgtext {
            display: unset;
            position: absolute;
            font-size: 7rem;
            left: 10%;
            top: 40%;
         }
      }
   }

   section.portfolio {
      .portfolio-websites--container {
         .portfolio-websites {
            .portfolio-website {
               img {
                  min-width: 11rem;
               }
            }
         }
      }
   }

   section.contact {
      .contact-form {
         grid-template: 
            "left right";
         place-items: unset;
         justify-content: flex-start;
         align-items: center;
         
         input[type="submit"] {
            height: fit-content;
         }

         lottie-player {
            display: unset;
            width: 10rem;
            height: auto;
            margin-inline: auto;
         }
      }

      .contact-form .contact-form--right textarea {
         height: 11.3rem !important;
         resize: none;
      }
   }
}

@media screen and (min-width: 1024px) { // Desktop
   :root {
      --font-size-h1: 3rem;
      --font-size-h2: 2.25rem;
      --font-size-h3: 1.75rem;
      --font-size-h4: 1.25rem;
      --font-size-p: 1.125rem;
   }

   section.hero {
      padding-top: 6rem;

      .hero-left {
         .hero-header {
            line-height: 3rem;

            .hero-header--underline::before {
               width: 14rem;
               height: .8rem;
               top: 2.75rem;
            }
         }
      }

      .hero-img {
         width: 70rem;
      }

      .scroll-down {
         top: 100%;
      }
   }

   section.services {
      .services-cards {
         .services-card {
            padding: 2rem;
            width: 25rem;
            
            .services-card--desc {
               width: 18rem;
            }
         }

         .services-bgtext {
            left: 17%;
            top: 40%;
         }
      }
   }
}

@media screen and (min-width: 1200px) {
   section.hero {
      .scroll-down {
         width: 1.5rem !important; 
      }
   }
   
   section.services {
      .services-cards {
         .services-card {
            width: 30rem;
            
            .services-card--desc {
               width: 25rem;
            }
         }

         .services-bgtext {
            left: 22%;
         }
      }
   }
}

// ---------
// Bug Fixes
// ---------
@media screen and (max-width: 1415px) {
   header.nav-desktop {
      padding-inline: 2rem;
   }
}

// --------------------------------
// Media Queries for Large Displays
// --------------------------------

// 2K - 2560x1440
@media screen and (min-width: 2560px) {
   body {
      zoom: calc(2560/1920);
   }

   header.nav-desktop {
      padding-inline: calc(var(--horizontal-margin) + 2rem);
      justify-content: flex-start;
      gap: 49.5rem; // Change this!
   }
}

// 4K - 3840x2160
@media screen and (min-width: 3840px) {
   body {
      zoom: calc(3840/1920);
   }
}

// 5K - 5120x2880
@media screen and (min-width: 5120px) {
   body {
      zoom: calc(5120/1920);
   }
}

// 8K - 7680x4320
@media screen and (min-width: 7680px) {
   body {
      zoom: calc(7680/1920);
   }
}